.Patners{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 2% 0;
    margin: 0;


    .Patners__inner{
        text-align: center;
        padding: 10px;
        color: #1E266D;
        span{

            ul{
                display: flex;
                list-style: none;
                gap: 2%;
                text-align: center;
                padding: 0;

                h3{
                    padding: 0;
                    margin: 0;
                    opacity: 0.3;
                }

            }
        }
    }
}

@media (min-width: 0px) {

    .Patners{
        padding: 2%;

        .Patners__inner{
            span{
    
                ul{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    justify-content: center;
                    align-items: center;
    
                    h3{
                        font-weight: 700;
                        font-size: 13px;
                        padding: 0;
                        margin: 0;
                        text-align: center;
                    }
    
                }
            }
        }
        
    }

}

@media (min-width: 768px) {
    .Patners{
        .Patners__inner{
            span{
    
                ul{
                    display: flex;
                }
            }
        }
    }

}